.demo-element {
  height: 10em !important;
}

#demo-input {
  position: relative;
  margin-bottom: 1em;
}

header {
  background-color: #eee;
  padding-top: 32px;
  padding-bottom: 32px;
  width: 100%;
}

h1 {
  font-size: 2em;
  font-weight: 100;
  margin: 0 0 0.5em 0;
}

.site-logo {
  max-width: 100%;
}

.padded {
  padding-right: 30px;
  padding-left: 30px;
}
