/* pure extensions */
.pure-button {
  border-radius: 4px;
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.pure-button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}

.pure-button-xsmall {
  font-size: 70%;
}

.pure-button-small {
  font-size: 90% !important;
}

.pure-button-large {
  font-size: 110%;
}

.pure-button-xlarge {
  font-size: 125%;
}

/* site styling */
body {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.95rem;
  line-height: 150%;
}

a,
a:hover,
a:active,
a:visited {
  color: #32cd32;
}

.wrapper {
  position: relative;
  width: 800px;
  margin: 0 auto;
  text-align: left;
}

header {
  text-align: center;
}

i {
  color: #888;
}

table {
  width: 100%;
}

th {
  padding: 1em 0;
  width: 68%;
}

th:first-child {
  width: 32%;
}

label[for="enable-submission"] {
  padding: 0 1em;
}

#message {
  height: 2em;
  color: #00cc00;
  margin-bottom: 1em;
}

#message_content {
  display: none;
}

footer {
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: 2em;
  margin-top: 2em;
}

footer > div:nth-child(2) {
  text-align: right;
}

.ascii {
  padding: 0.25em 0;
  font-size: 1.3rem;
}

.delete-button {
  padding: 0.5em 1em;
  font-weight: bold;
}

.hidden {
  display: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

tr:nth-child(2n) td {
  background: #f2f2f2;
}

sup a,
sup a:hover {
  text-decoration: none;
  cursor: help;
}

.pure-u-2-3 {
  margin-bottom: 2em;
  padding-top: 1.5em;
}

label[for="context-menu-enabled"] {
  margin-top: 1.5em;
}

#context-menu-enabled {
  margin-right: 0.25em;
}
